.EntitiesPage {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 16px;
  background: white;
}

.EntitiesPage a:link,
.EntitiesPage a:visited {
  color: rgb(98, 49, 233);
}

.EntitiesPage .NotFound {
  font-size: 1.2rem;
}

.EntitiesPage .Property {
  max-width: 50em;
  margin-bottom: 1em;
}

.TopicTitle {
  width: 692px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.EntityType {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: #666;
}
