.EntitiesPage {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 16px;
  background: white;
}

.EntitiesPage a:link,
.EntitiesPage a:visited {
  color: rgb(98, 49, 233);
}

.EntitiesPage .NotFound {
  font-size: 1.2rem;
}

.EntitiesPage .Property {
  max-width: 50em;
  margin-bottom: 1em;
}
