.EntitiesPage {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 16px;
  background: var(--mdc-theme-background);
  color: var(--mdc-theme-on-background);
}

.ClassesDrawer .mdc-drawer__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EntitiesPage a:link,
.EntitiesPage a:visited {
  color: var(--mdc-theme-primary);
}

.EntitiesPage .Property {
  max-width: 50em;
  margin-bottom: 1em;
}
