.EntityList {
  max-width: 800px;
}

.EntityList header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.EntityList h3 {
  margin-right: auto;
}

.EntityList a {
  color: inherit;
  text-decoration: none;
}
