.Instances {
  max-width: 800px;
}

.Instances header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Instances h3 {
  margin-right: auto;
}

.Instances a {
  color: inherit;
  text-decoration: none;
}
