.Search {
  z-index: 10000;
}

.Search a {
  text-decoration: none;
  color: inherit;
}

.Search .Select__control,
.Search .Select__menu {
  background: var(--mdc-theme-surface);
  color: var(--mdc-theme-on-surface);
}
