@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.App {
  height: 100vh;
  width: 100vw;
  background: #eee;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.App .Logo {
  height: 2rem;
  margin-right: 8px;
  position: relative;
  top: 0.5rem;
  display: inline-block;
}

.App > main {
  flex: 1;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.App > main .mdc-typography--headline6 {
  margin: 0 30px;
  padding: 12px 0;
  display: block;
}

.App > main .actions {
  background: white;
  padding: 8px 24px;
  border-color: #d3d3d3;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
}

.App main .actions > .mdc-button {
  margin-right: 24px;
}
