.App {
  height: 100vh;
  width: 100vw;
  background: #eee;
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.Run {
  height: calc(300px + 32px + 3em);
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  z-index: 10;
  margin-bottom: 16px;
}

.Run .mdc-button {
  align-self: flex-end;
  margin: 16px;
}

.Results {
  height: 300px;
  flex: 1;
  background: white;
}
