.QueryHistory {
  flex: 1;
  overflow-y: auto;
}

.QueryHistory .mdc-list-item {
  display: flex;
}

.QueryHistory .query {
  height: 2em;
  font-family: monospace;
  white-space: nowrap;
  flex: 1;
}

.QueryHistory .time {
  flex-shrink: 0;
}

.QueryHistory .language,
.QueryHistory .status {
  margin: 0 16px;
}
