.QueryEditor .actions {
  background: white;
  padding: 8px 24px;
  border-color: #d3d3d3;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
}

.QueryEditor .actions > .mdc-button {
  margin-right: 24px;
}
